<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="WebApplication1.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <%--<meta name="viewport" content="width=device-width, initial-scale=1.0" />--%>
    <title><%: Page.Title %> - Hệ thống phần mềm quản lý</title>

<%--    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>--%>

   <%-- <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />--%>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%--<link rel="stylesheet" href="../dist/css/fontawesome.css">--%>
  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
 <%--   <link rel="stylesheet" href="../dist/css/Ionicons.css">--%>
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/adminlte.min.css">

    <%-- <link href="../Content/buttons.dataTables.min.css" rel="stylesheet" />--%>
    <%--<link href="../Content/jquery.dataTables.min.css" rel="stylesheet" />   --%>
    <link href="../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />     
    <link href="../plugins/toastr/toastr.css" rel="stylesheet" /> 
    <link href="../plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />  
    <link href="../plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
    
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
    <%--<script src="../Scripts/all.min.js"></script>   --%>
    <%--<script src="../plugins/popper/esm/popper.min.js"></script>  --%>
    <script src="../Scripts/bootstrap.js"></script>  
   <%-- <script src="../Scripts/bootbox.min.js"></script>--%>
    <%--<script src="../Scripts/bootbox.locales.min.js"></script>--%>
  <%--  <script src="../plugins/toastr/toastr.js"></script>--%>
<%--    <script src="../Scripts/jquery.datetimepicker.js"></script>      
    <script src="../Scripts/jquery.table2excel.min.js"></script>--%>
    
<%-- <link href="../Content/bootstrap.min.css" rel="stylesheet">--%>

    <link rel="stylesheet" href="<%= ResolveUrl("~/Content/navbar-restaurant.css") %>" />

</head>
<body class="hold-transition sidebar-mini">
     <%  string user = Session["username"].ToString(); %>

    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <%--<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" href="~/">Application name</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a runat="server" href="~/">Home</a></li>
                        <li><a runat="server" href="~/About">About</a></li>
                        <li><a runat="server" href="~/Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>--%>
        <div class="wrapper">



 <nav class="navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
             
         <li class="nav-item">
            <a href="Default.aspx" target="_blank" class="nav-link" style="width:80px; text-align:center;">HOME</a>
          </li>

       <li class="nav-item">
            <a href="Map.aspx" target="_blank" class="nav-link" style="width:120px; text-align:center;">NHÀ HÀNG</a>
          </li>
       
         <li class="nav-item">
            <a href="Phieunhaphang.aspx" target="_blank" class="nav-link" style="width:180px; text-align:center;">PHIẾU NHẬP HÀNG</a>
          </li>

        <li class="nav-item">
            <a href="Phieubanhang.aspx" target="_blank" class="nav-link" style="width:180px; text-align:center;">PHIẾU BÁN HÀNG</a>
          </li>
        <%if (Role_ == "admin") {%>
         <li class="nav-item dropdown">
            <a id="dropdownSubMenu11" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">SỔ QUỸ</a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              <li><a href="Phieuchi.aspx" target="_blank" class="dropdown-item">Phiếu chi</a></li>
              <li><a href="Phieuthu.aspx" target="_blank" class="dropdown-item">Phiếu thu</a></li>
                <li class="dropdown-divider"></li>
              <li><a href="Report/Baocaosoquy.aspx" target="_blank" class="dropdown-item">BC tổng hợp thu chi</a></li>
               <%-- <li><a href="Report/Baocaotonghopthuchi.aspx" target="_blank" class="dropdown-item">BC tổng hợp thu chi</a></li>--%>
              <!-- End Level two -->
            </ul>
          </li>
        <li class="nav-item dropdown">
            <a id="dropdownSubMenu2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">BÁO CÁO</a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              <li><a href="Report/BaocaoBH.aspx" target="_blank" class="dropdown-item">BC bán hàng theo HĐ</a></li>
              <li><a href="Report/BaocaoBHtheogio.aspx" target="_blank" class="dropdown-item">BC bán hàng theo giờ</a></li>
              <li><a href="Report/BaocaotonghopBH.aspx" target="_blank" class="dropdown-item">BC tổng hợp bán hàng</a></li>
              <li class="dropdown-divider"></li>
              <li><a href="Report/Baocaonhaphang.aspx" target="_blank" class="dropdown-item">BC nhập hàng theo HĐ</a></li>
              <li><a href="Report/BaocaotonghopNH.aspx" target="_blank" class="dropdown-item">BC tổng hợp nhập hàng</a></li>
              <li class="dropdown-divider"></li>
              <li><a href="Report/Baocaotonkho.aspx" target="_blank" class="dropdown-item">BC tồn kho</a></li>
                <li><a href="Report/Phieucandoitonkho.aspx" target="_blank" class="dropdown-item">Cân đối tồn kho</a></li>
              <li class="dropdown-divider"></li>
              <!-- Level two dropdown-->
              <li class="dropdown-submenu dropdown-hover">
                <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">BC công nợ</a>
                <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                  <li>
                    <a tabindex="-1" href="Report/BaocaocongnoKH.aspx" target="_blank" class="dropdown-item">Công nợ KH</a>
                  </li>
                    <li>
                    <a tabindex="-1" href="Report/BaocaocongnoNCC.aspx" target="_blank" class="dropdown-item">Công nợ NCC</a>
                  </li>                 
                </ul>
              </li>
              <!-- End Level two -->
                <li class="dropdown-divider"></li>
               <li><a href="Report/Baocaololai.aspx" target="_blank" class="dropdown-item">BC lỗ lãi</a></li>
            </ul>
          </li>

        <li class="nav-item dropdown">
            <a id="dropdownSubMenu6" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">DANH MỤC</a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              <li><a href="Danhmuc/Danhmuchanghoa.aspx" target="_blank" class="dropdown-item">Danh mục hàng hóa</a></li>
              <li><a href="Danhmuc/Danhmuckhachhang.aspx" target="_blank" class="dropdown-item">Danh mục khách hàng</a></li>
              <li><a href="Danhmuc/Danhmucbanphong.aspx" target="_blank" class="dropdown-item">Danh mục bàn/phòng</a></li>
              <li class="dropdown-divider"></li>
              <li><a href="Danhmuc/DMKhuvuc.aspx" target="_blank" class="dropdown-item">Danh mục khu vực</a></li>
              <li><a href="Danhmuc/Danhmucnhomhang.aspx" target="_blank" class="dropdown-item">Danh mục nhóm hàng</a></li> 
              <li><a href="Danhmuc/Danhmucnhacungcap.aspx" target="_blank" class="dropdown-item">Danh mục NCC</a></li>
                <li class="dropdown-divider"></li>
                <li><a href="Danhmuc/DMcauthanhDVT.aspx" target="_blank" class="dropdown-item">Danh mục cấu thành ĐVT</a></li>
                <li><a href="Danhmuc/DMcauthanhsanpham.aspx" target="_blank" class="dropdown-item">Danh mục cấu thành sản phẩm</a></li>
              <li><a href="Danhmuc/Danhmucnhanvien.aspx" target="_blank" class="dropdown-item">Danh mục nhân viên</a></li>
            </ul>
          </li>
             <%} %>
        <%if (Role_ == "NV") {%>
         <li class="nav-item dropdown">
            <a id="dropdownSubMenu4" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">DANH MỤC</a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              <li><a href="Danhmuc/Danhmuchanghoa.aspx" target="_blank" class="dropdown-item">Danh mục hàng hóa</a></li>
              <li><a href="Danhmuc/Danhmuckhachhang.aspx" target="_blank" class="dropdown-item">Danh mục khách hàng</a></li>
              <li><a href="Danhmuc/Danhmucbanphong.aspx" target="_blank" class="dropdown-item">Danh mục bàn/phòng</a></li>
              <li class="dropdown-divider"></li>
              <li><a href="Danhmuc/DMKhuvuc.aspx" target="_blank" class="dropdown-item">Danh mục khu vực</a></li>
              <li><a href="Danhmuc/Danhmucnhomhang.aspx" target="_blank" class="dropdown-item">Danh mục nhóm hàng</a></li> 
              <li><a href="Danhmuc/Danhmucnhacungcap.aspx" target="_blank" class="dropdown-item">Danh mục NCC</a></li>
                <li class="dropdown-divider"></li>
                <li><a href="Danhmuc/DMcauthanhDVT.aspx" target="_blank" class="dropdown-item">Danh mục cấu thành ĐVT</a></li>
                <li><a href="Danhmuc/DMcauthanhsanpham.aspx" target="_blank" class="dropdown-item">Danh mục cấu thành sản phẩm</a></li>
              <li><a href="Danhmuc/Danhmucnhanvien.aspx" target="_blank" class="dropdown-item">Danh mục nhân viên</a></li>
            </ul>
          </li>
         <%} %>
      <li class="nav-item dropdown">
            <a id="dropdownSubMenu5" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">LIÊN HỆ</a>
           <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
               <li><a href="Danhmuc/Danhmucdonvi.aspx" target="_blank" class="dropdown-item">Thông tin doanh nghiệp</a></li>
              <li><a href="#" class="dropdown-item">Đặt hàng online</a></li>
              <li><a href="#" class="dropdown-item">Liên hệ trực tiếp</a></li> 
              <li><a href="MakeQR.aspx" target="_blank" class="dropdown-item">Tạo QR code</a></li> 
              <li><a href="Inbarcode.aspx" target="_blank" class="dropdown-item">Tạo QR DM hàng hóa</a></li> 
              <li><a href="TemplateReport/hethongbaocadong.aspx" target="_blank" class="dropdown-item">Sql data</a></li> 
            </ul>
       </li>
    </ul>

                  
    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
          <b style="font-size:14px; font-family:Tahoma; color:blue;"><i>Hỗ trợ khách hàng 24/24 : 0979 479 007 </i></b>          
       <%-- <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>--%>
      </div>
    </form>

     <ul class="nav navbar-nav" style="font-size: 17px;float: right;"> 
                             <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> User <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#"><i class="far fa-id-badge"></i> Profile - <%=Session["username"].ToString() %>  </a></li>
                                    <li><a href="Accounts/Loginnew.aspx" id="btn_logout"onserverclick="bttLogout_Click" ><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>

  
  </nav>

 


        </div>

       

 



        
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
                  



            </asp:ContentPlaceHolder>


            <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->


            <hr />

            <footer class="main-footer">
    <strong>Copyright &copy; 2026 <a href="#">Phần mềm thu ngân</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 01
    </div>
  </footer>

           <%-- <footer>
                <%-- <strong>Copyright &copy; 2014-2020 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.1.0-pre
    </div>--%>
               <%-- <p>&copy; <%: DateTime.Now.Year %> - My ASP.NET Application</p>--%>
           <%-- </footer>--%>
       

    </form>


    <!-- REQUIRED SCRIPTS -->



   <%-- <script src="../plugins/jquery/jquery.min.js"></script>--%>
    <script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
    <%--<script src="../plugins/popper/esm/popper.min.js"></script>  --%>
   <%-- <script src="../Scripts/bootstrap.js"></script>  --%>
   <%-- <script src="../plugins/toastr/toastr.js"></script>--%>



<!-- Bootstrap -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="../dist/js/adminlte.js"></script>


<!-- OPTIONAL SCRIPTS -->
<script src="../plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../dist/js/pages/dashboard3.js"></script>

</body>
</html>
