USE [DataNhaHang]
GO
/****** Object:  StoredProcedure [dbo].[NH_BaocaoBH]    Script Date: 10/4/2026 11:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NH_BaocaoBH]
	
AS
BEGIN

select * from 
(
select id,sohd,type,ngaygiothue,ngaygiora,tongthoigianthue,tenphong,
tienphong,
ISNULL(tiengiohat,0) as tiengiohat,
items,tienhang,tongtien,chietkhau,tiensauchietkhau,hinhthucnghi,mohinh,created,idnhanvien,psco,CONVERT(VARCHAR(5),ngaygiothue,108) as giovao,CONVERT(VARCHAR(5),ngaygiora,108) as giora,VAT
,soluonghatPhut
from htsocai where convert(varchar, created, 23) = convert(varchar, getdate(), 23)

union 

select 
0 as id,
'-' as sohd,
'-' as type,
null as ngaygiothue,
null as ngaygiora,
null as tongthoigianthue,
'Tong tien' as tenphong,
sum(tienphong) as tienphong,
--sum(tiengiohat) as tiengiohat,
sum(ISNULL(tiengiohat,0)) as tiengiohat,
'' as items,
sum(tienhang) as tienhang,
sum(tongtien) as tongtien,
sum(chietkhau) as chietkhau,
sum(tiensauchietkhau) as tiensauchietkhau,
'' as hinhthucnghi,
'' as mohinh,
GETDATE() as created,
'' as idnhanvien,
0 as psco,
'' as giovao,
'' as giora,
sum(VAT) as VAT,
'' as soluonghatPhut
from htsocai
where convert(varchar, created, 23) = convert(varchar, getdate(), 23)
--where convert(varchar, created, 23) = convert(varchar, getdate(), 23)

--select '' as id,'-','-','','','','Tong tien',
--(select sum(tienphong) from htsocai where convert(varchar, created, 23) = convert(varchar, getdate(), 23)) as tienphong,
--(select sum(tiengiohat) from htsocai where convert(varchar, created, 23) = convert(varchar, getdate(), 23)) as tiengiohat,
--'' as items,
--(select sum(tienhang) from htsocai where convert(varchar, created, 23) = convert(varchar, getdate(), 23)) as tienhang,
--(select sum(tongtien) from htsocai where convert(varchar, created, 23) = convert(varchar, getdate(), 23)) as tongtien,
--(select sum(chietkhau) from htsocai where convert(varchar, created, 23) = convert(varchar, getdate(), 23)) as chietkhau,
--(select sum(tiensauchietkhau) from htsocai where convert(varchar, created, 23) = convert(varchar, getdate(), 23))as tiensauchietkhau,
--'' as hinhthucnghi,
--'' as mohinh,
--GETDATE() as created,
--'' as idnhanvien,
--'' as psco,
--'' as giovao,
--'' as giora,
--(select sum(VAT) from htsocai where convert(varchar, created, 23) = convert(varchar, getdate(), 23)) as VAT
--from htsocai where convert(varchar, created, 23) = convert(varchar, getdate(), 23)

) ABC order by created asc





END
GO
/****** Object:  StoredProcedure [dbo].[NH_BaocaoBH_theogio]    Script Date: 10/4/2026 11:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NH_BaocaoBH_theogio] -- NH_BaocaoBH_theogio '2026-01-01 06:00:00','2026-02-15 07:30:00'
	@checkin as nvarchar(50),
	@checkout as nvarchar(50)
AS
BEGIN
--CAST('2024-05-18 07:09:56' AS DATETIME);
--CONVERT(DATETIME, '2024-05-18 07:09:56', 120)

select * from 
(
select id,sohd,type,ngaygiothue,ngaygiora,tongthoigianthue,tenphong,
tienphong,tiengiohat,items,tienhang,tongtien,chietkhau,tiensauchietkhau,hinhthucnghi,mohinh,created,idnhanvien,psco,CONVERT(VARCHAR(5),ngaygiothue,108) as giovao,CONVERT(VARCHAR(5),ngaygiora,108) as giora,VAT,soluonghatPhut from htsocai where type<>2 and ngaygiora BETWEEN  @checkin AND @checkout  

union 

select '' as id,'-','-','','','','Tong tien',
(select sum(tienphong) from htsocai where type<>2 and ngaygiora BETWEEN  @checkin AND @checkout) as tienphong,
(select sum(tiengiohat) from htsocai where type<>2 and ngaygiora BETWEEN  @checkin AND @checkout) as tiengiohat,
'' as items,
(select sum(tienhang) from htsocai where type<>2 and ngaygiora BETWEEN  @checkin AND @checkout) as tienhang,
(select sum(tongtien) from htsocai where type<>2 and ngaygiora BETWEEN  @checkin AND @checkout) as tongtien,
(select sum(chietkhau) from htsocai where type<>2 and ngaygiora BETWEEN  @checkin AND @checkout) as chietkhau,
(select sum(tiensauchietkhau) from htsocai where type<>2 and ngaygiora BETWEEN  @checkin AND @checkout)as tiensauchietkhau,
'' as hinhthucnghi,
'' as mohinh,
GETDATE() as created,
'' as idnhanvien,
'' as psco,
'' as giovao,
'' as giora,
(select sum(VAT) from htsocai where ngaygiora BETWEEN  @checkin AND @checkout) as VAT,
'' as soluonghatPhut
from htsocai where type<>2 and ngaygiora BETWEEN  @checkin AND @checkout
) ABC order by created asc





END
GO
/****** Object:  StoredProcedure [dbo].[NH_BaocaoBH_theongay]    Script Date: 10/4/2026 11:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NH_BaocaoBH_theongay] -- NH_BaocaoBH_theongay '2024-06-05','2024-06-05','==NV=='
	@_fromdate as nvarchar(50),
	@_todate as nvarchar(50),
	@manhanvien as nvarchar(50)
AS
BEGIN

if(@manhanvien='==NV==')
begin
		select id,sohd,type,ngaygiothue,ngaygiora,tongthoigianthue,tenphong,
		tienphong,tiengiohat,items,tienhang,tongtien,chietkhau,tiensauchietkhau,hinhthucnghi,mohinh,created,idnhanvien,psco,CONVERT(VARCHAR(5),ngaygiothue,108) as giovao,CONVERT(VARCHAR(5),ngaygiora,108)as giora,VAT,soluonghatPhut from htsocai 
		where convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)
		--convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)
		union 

		select '1000' as id,'-','-','','','','Tong tien',
		(select sum(tienphong) from htsocai where convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)) as tienphong,
		(select sum(tiengiohat) from htsocai where convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)) as tiengiohat,
		'' as items,
		(select sum(tienhang) from htsocai where convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)) as tienhang,
		(select sum(tongtien) from htsocai where convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)) as tongtien,
		(select sum(chietkhau) from htsocai where convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)) as chietkhau,
		(select sum(tiensauchietkhau) from htsocai where convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23))as tiensauchietkhau,
		'' as hinhthucnghi,
		'' as mohinh,
		'' as created,
		'' as idnhanvien,
		'' as psco,
		'' as giovao,
		'' as giora,
		ISNULL((select sum(VAT) from htsocai where convert(varchar, created, 23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)), 0) as VAT,
		'' as soluonghatPhut
		from htsocai
end
else
begin
	--loc theo nhan vien
	select id,sohd,type,ngaygiothue,ngaygiora,tongthoigianthue,tenphong,
		tienphong,tiengiohat,items,tienhang,tongtien,chietkhau,tiensauchietkhau,hinhthucnghi,mohinh,created,idnhanvien,psco,CONVERT(VARCHAR(5),ngaygiothue,108) as giovao,CONVERT(VARCHAR(5),ngaygiora,108)as giora,VAT,soluonghatPhut from htsocai 
		where idnhanvien=@manhanvien and convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)
		--convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)
		union 

		select '1000' as id,'-','-','','','','Tong tien',
		(select sum(tienphong) from htsocai where idnhanvien=@manhanvien and convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)) as tienphong,
		(select sum(tiengiohat) from htsocai where idnhanvien=@manhanvien and convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)) as tiengiohat,
		'' as items,
		(select sum(tienhang) from htsocai where idnhanvien=@manhanvien and convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)) as tienhang,
		(select sum(tongtien) from htsocai where idnhanvien=@manhanvien and convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)) as tongtien,
		(select sum(chietkhau) from htsocai where idnhanvien=@manhanvien and convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)) as chietkhau,
		(select sum(tiensauchietkhau) from htsocai where idnhanvien=@manhanvien and convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23))as tiensauchietkhau,
		'' as hinhthucnghi,
		'' as mohinh,
		'' as created,
		'' as idnhanvien,
		'' as psco,
		'' as giovao,
		'' as giora,
		ISNULL((select sum(VAT) from htsocai where convert(varchar, created, 23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)), 0) as VAT,
		'' as soluonghatPhut
		from htsocai

end







END
GO
/****** Object:  StoredProcedure [dbo].[NH_BaocaoBH_theongay_NV]    Script Date: 10/4/2026 11:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NH_BaocaoBH_theongay_NV] -- NH_BaocaoBH_theongay_NV '2024-05-02','2024-05-02'
	@_fromdate as nvarchar(50),
	@_todate as nvarchar(50),
	@idnhanvien as nvarchar(50)
AS
BEGIN

select id,sohd,type,ngaygiothue,ngaygiora,tongthoigianthue,tenphong,
tienphong,tiengiohat,items,tienhang,tongtien,chietkhau,tiensauchietkhau,hinhthucnghi,mohinh,created,idnhanvien,psco,CONVERT(VARCHAR(5),ngaygiothue,108) as giovao,CONVERT(VARCHAR(5),ngaygiora,108)as giora,VAT,soluonghatPhut from htsocai 
where idnhanvien=@idnhanvien and convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)
--convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)
union 

select '1000' as id,'-','-','','','','Tong tien',
(select sum(tienphong) from htsocai where idnhanvien=@idnhanvien and convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)) as tienphong,
(select sum(tiengiohat) from htsocai where idnhanvien=@idnhanvien and convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)) as tiengiohat,
'' as items,
(select sum(tienhang) from htsocai where idnhanvien=@idnhanvien and convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)) as tienhang,
(select sum(tongtien) from htsocai where idnhanvien=@idnhanvien and convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)) as tongtien,
(select sum(chietkhau) from htsocai where idnhanvien=@idnhanvien and convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)) as chietkhau,
(select sum(tiensauchietkhau) from htsocai where idnhanvien=@idnhanvien and convert(varchar,created,23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23))as tiensauchietkhau,
'' as hinhthucnghi,
'' as mohinh,
'' as created,
'' as idnhanvien,
'' as psco,
'' as giovao,
'' as giora,
ISNULL((select sum(VAT) from htsocai where convert(varchar, created, 23) BETWEEN convert(varchar,@_fromdate,23) AND convert(varchar,@_todate,23)), 0) as VAT,
'' as soluonghatPhut

from htsocai





END
GO
/****** Object:  StoredProcedure [dbo].[NH_Baocaotonkho]    Script Date: 10/4/2026 11:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NH_Baocaotonkho]
	
AS
BEGIN
	
	SELECT TOP 1000 [id]
      ,[mahang]
      ,[tenhang]
      ,[dvt]
	  ,'' as soluongdauky
	  ,'' as soluongnhap
	  ,'' as soluongxuat
      ,[soluongton]
      ,[anh]
      ,[gianhap]
      ,[giaban]
	  ,'0' as doanhso
	  ,'0' as giavon
	  ,'0' as laigop
	  ,'' sohd
	  ,(select top 1 manhomhang from [DataNhaHang].[dbo].[htnhomhang] (nolock) b where a.nhomhangid=b.id) as nhomhangid
      --,[nhomhangid]
      ,[userid]
      ,[created]
      ,[modified]
  FROM hthanghoa a


END
GO
/****** Object:  StoredProcedure [dbo].[NH_danhmucbanphong]    Script Date: 10/4/2026 11:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NH_danhmucbanphong]
	
AS
BEGIN
	
select a.*,b.tenkhuvuc from htphong a 
left join htkhuvuc b on a.khuvucid=b.id


END
GO
/****** Object:  StoredProcedure [dbo].[NH_danhmucnhanvien]    Script Date: 10/4/2026 11:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NH_danhmucnhanvien]
	
AS
BEGIN
	
select U_ID,U_NAME,U_FULLNAME,U_PASSWORD,[ROLE] from  TBL_USER2

END
GO
/****** Object:  StoredProcedure [dbo].[NH_insert_DMnhanvien]    Script Date: 10/4/2026 11:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NH_insert_DMnhanvien]
	@makhuvuc as nvarchar(50), 
	@tenkhuvuc as nvarchar(50),
	@maukhau as nvarchar(50),
	@role as nvarchar(50)
	
AS
BEGIN
	if exists(select * from TBL_USER2 where U_NAME =@makhuvuc )
	begin
		--da ton tai nhom hang
		select 0
	end
	else
	begin
		--them moi
		insert into TBL_USER2 (U_NAME,U_FULLNAME,U_PASSWORD,ROLE) 
values(@makhuvuc,@tenkhuvuc,@maukhau,@role)
		select 1
	end


END
GO
/****** Object:  StoredProcedure [dbo].[NH_Update_nhanvien]    Script Date: 10/4/2026 11:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NH_Update_nhanvien]
	@makhuvuc as nvarchar(50), 
	@tenkhuvuc as nvarchar(50),
	 @matkhau as nvarchar(50), 
	 @userid as nvarchar(50),
	 @role as nvarchar(50)
AS
BEGIN
	if exists(select * from TBL_USER2 where U_NAME =@makhuvuc and @userid='admin' )
	begin
		--update
		update TBL_USER2 set U_FULLNAME=@tenkhuvuc,U_PASSWORD=@matkhau,[ROLE]=@role where U_NAME =@makhuvuc and @userid='admin'
		select 1
	end
	else
	begin
		--khong ton tai
		select 0
	end
END
GO
/****** Object:  StoredProcedure [dbo].[NH_Update_phongban]    Script Date: 10/4/2026 11:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NH_Update_phongban] --NH_Update_phongban 'P01','3'
	@banphongid as nvarchar(50), 
	@khuvucid as nvarchar(50)
AS
BEGIN

if exists(select * from htphong where tenphong = @banphongid )  --and karaoke=0 and nhanghi=0
begin
	--nhahang
	update htphong set khuvucid=@khuvucid where tenphong = @banphongid
	select 1
end
else
begin
	select 0
end
	
END
GO
